body {
    color: #86939e;
    font-family: Roboto, sans-serif, serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    font-weight: 400;
}

a {
    color: #03A9F4;
}

ul li a {
    color: #86939e;
    text-decoration: none;
}

ul li a:hover {
    color: #4ea9e0;
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #606676;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    margin-bottom: 1rem;
}

p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 30px;
}

.justify-content-center {
    display: flex;
    width: 100%;
}

/* Header */

header .logo,
header .nav > li > a {
    line-height: 90px;
}

header .logo,
footer .logo {
    color: #86939e;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

header .logo span,
footer .logo span,
header .logo small,
footer .logo small {
    color: #f1c40f;
}

header .logo small,
footer .logo small {
    text-transform: none;
    font-weight: 300;
}

footer .logo {
    font-size: 18px;
}

header {
    border-bottom: solid #E1E8EE 1px;
}

header .nav {
    position: relative;
}

header .nav a {
    color: #86939e;
}

header .nav a:hover {
    color: #03A9F4;
    text-decoration: none;
}

header .nav > li > a {
    font-size: 13px;
    padding: 0 20px;
}

header .nav > li.drop-down > a:after {
    content: "\f107";
    font-family: 'FontAwesome';
    margin-left: 7px;
}

header .nav > li.drop-down:hover .dd-content {
    display: block;
    transition: all 400ms ease-in-out 0s;
}

header .nav > li .dd-content {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
    padding: 35px 30px;
    border-radius: 5px;
    width: auto;
    right: 0;
    max-width: 600px;
    min-width: 300px;
    z-index: 10;
    transition: all 400ms ease-in-out 0s;
}

header .nav > li .dd-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .nav > li .dd-content .dd-header {
    display: block;
    margin-bottom: 10px;
}

header .nav > li ul a {
    color: #86939e;
    font-size: 13px;
    font-weight: 300;
}

header .nav > li ul a:before {
    content: "\f10c";
    font-family: 'FontAwesome';
    margin-right: 8px;
    color: #f1c40f;
}

header .nav .dd-content li {
    padding: 6px 0;
}

/* Search */

.search-section {
    background-color: #f5f8fa;
    position: relative;
    border-bottom: 1px solid #e1e8ee;
    padding: 30px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

body.index .search-section {
    background-image: url('../img/icon-circles.png');
}

.search-section h1 {
    color: #86939e;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

.search-section .home-search {
    text-align: center;
    padding: 100px 0 80px 0;
}

.search-section .home-search h1 {
    margin-bottom: 30px;
    color: #86939e;
    font-weight: 900;
    font-size: 60px;
}

.search-section .home-search .lead {
    font-weight: 100;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-size: 22px;
    padding-bottom: 30px;
}

.search-section .search-form {
    position: relative;
}

.search-section .search-form .search-field {
    width: 100%;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #e1e8ee;
    padding: 0 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

.search-section .search-form .search-field:focus {
    border: solid #A1C4FC 2px;
    outline: none;
}

.search-section .search-form button {
    position: absolute;
    right: 25px;
    top: 25px;
    background: 0 0;
    border: none;
    font-size: 30px;
    color: #86939e;
    cursor: pointer;
}

/* Breadcrumbs */

.breadcrumbs {
    background: #fff;
    padding: 12px;
    border-bottom: 1px solid #e1e8ee;
}

.breadcrumbs ol {
    margin: 0;
    padding: 0;
}

.breadcrumbs ol li {
    display: inline-block;
    color: #5e6977;
    font-size: 14px;
}

.breadcrumbs ol li a {
    text-decoration: none;
    color: #03a9f4;
}

.breadcrumbs ol li::after {
    content: " / ";
    padding: 0 10px;
    color: #e1e8ee;
}

.breadcrumbs ol li:last-child::after {
    content: " ";
}

/* Sidebar */

.sidebar-menu {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
}

.sidebar-menu > li > a {
    display: block;
    padding: 10px 5px 10px 0;
    font-size: 14px;
}

.sidebar-menu > li > a > .fa {
    width: 20px;
    margin: 0 10px 0 1px;
}

.sidebar-menu .treeview-menu {
    list-style: none;
    padding-left: 34px;
}

.sidebar-menu .treeview-menu > li {
    margin: 0;
}

.sidebar-menu .treeview-menu > li > a {
    display: block;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0;
    color: #03a9f4;
}

.sidebar-menu .treeview {
    position: relative;
}

/*.sidebar-menu .treeview:after {
    font-family: 'FontAwesome';
    content: "\f147";
    position: absolute;
    right: 0;
    top: 10px;
}

.sidebar-menu .treeview.closed:after {
    content: "\f196";
}*/

.sidebar-menu .treeview .badge {
    font-weight: 300;
    padding: 0 7px;
    margin-left: 5px;
    line-height: 19px;
    color: white;
    background-color: #17a2b8;
}

.sidebar-menu .treeview.closed .badge {
    background-color: #eee;
    color: #86939e;
}

.sidebar-menu .treeview.closed .treeview-menu {
    display: none;
}

/* Content */

.content {
    padding: 50px 0;
}

.topics-wrapper {
    border-radius: 5px;
    margin-bottom: 40px;
}

.topics-wrapper.border-style {
    border: 3px solid #e1e8ee;
}

.topics-wrapper.border-style h3 {
    padding: 20px 40px 0;
}

.content h3 a {
    font-size: 18px;
    font-weight: 400;
    color: #43484d;
    text-decoration: none;
}

.topics-wrapper h3 .fa {
    color: #4ea9e0;
    font-size: 24px;
    font-weight: 700;
    margin-right: 15px;
}

.topics-wrapper.border-style .topics-meta {
    background: #f5f8fa;
    padding: 7px 10px;
    text-align: center;
    border-top: 1px solid #e1e8ee;
    margin: 0;
}

.topics-wrapper .topics-meta li {
    list-style: none;
    display: inline-block;
    color: #5e6977;
    font-size: 14px;
    font-weight: 300;
    padding-right: 10px;
}

.topics-wrapper.border-style .topics-list {
    padding: 20px 40px;
    list-style: none;
}

.topics-wrapper .topics-list > li > a {
    padding-left: 25px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    outline: 0 none;
}

.topics-wrapper .topics-list > li:before {
    font-family: 'FontAwesome';
    content: "\f192";
    color: #b5bfc7;
    font-size: 18px;
}

.topics-wrapper .topics-list ul {
    list-style: none;
}

.topics-wrapper .topics-list ul li a {
    display: block;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0;
    color: #03a9f4;
}

/* Article */

article ul {
    margin: 0 0 20px 16px;
    padding: 0;
}

article ul li {
    line-height: 30px;
}

article .icon-list {
    list-style: none;
}

article .icon-list li .icon {
    margin-right: 10px;
}

article .col-2-list li {
    width: 50%;
    float: left;
}

article ul li a,
article a {
    color: #03A9F4;
}

article ul li a:hover,
article a:hover {
    color: #046e9b;
}

article table {
    width: 100%;
    border: 1px solid #e9ecef;
    margin-bottom: 20px;
}

article table td {
    vertical-align: middle;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: .75rem;
}

article table tr:nth-of-type(odd) {
    background-color: #f5f8fa;
}

.bold {
    font-weight: 500 !important;
}

form label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

form .validation-error-label {
    color: #AF2018;
}

form .req {
    color: #AF2018;
}

.btn-lg {
    border: none;
}

.btn-primary:focus,
.btn-primary:hover {
    opacity: .8;
    color: #fff;
    background: #03a9f4;
}

.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    background-color: #038fce !important;
    background-image: none;
}

.btn-lg > i {
    margin-right: 5px;
}

.p-t-20 {
    padding-top: 20px !important;
}

.widget h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.widget h3:before {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #03a9f4;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Footer */

footer {
    background-color: #f5f8fa;
    border-top: 1px solid #eee;
    padding: 35px 0 0;
}

footer .logo {
    margin-bottom: 30px;
    display: block;
}

footer h6 {
    font-weight: 400;
}

footer .footer-links {
    padding: 5px 0 0;
    margin: 0 0 2rem;
}

footer .footer-links li {
    display: block;
    list-style: none;
}

footer .footer-links li a {
    line-height: 26px;
    font-weight: 300;
}

footer .copyrights {
    text-align: center;
    border-top: 1px solid #eee;
    background-color: #fff;
}

footer .copyrights p {
    display: inline-block;
    line-height: 50px;
    margin: 0;
}

    /* Converter */

.converter {
    background-color: #f5f8fa;
    padding: 30px 30px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.converter input {
    border: 2px solid #e1e8ee;
    border-radius: 5px;
    color: #43484d;
    font-size: 14px;
    height: 50px;
    padding: 15px;
}

.converter input:focus {
    box-shadow: none;
}

.converter input:active {
    border-color: #e1e8ee;
    outline: none;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 13px 25px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

.converter h5 {
    margin: 0;
}

.converter .btn {
    padding: 13px 10px;
}
