@media screen and (max-width: 800px) {
    .search-section .search-form button {
        right: 15px;
    }
}

@media screen and (max-width: 575px) {
    article .col-2-list li  {
        width: 100%;
        float: none;
    }

    article table.adaptive td {
        display: block;
    }

    article table.adaptive tr:nth-of-type(odd) {
        background: none;
    }

    .search-section {
        padding: 10px;
    }

    .search-section .home-search .lead {
        width: 90%;
    }

    .search-section .home-search h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 400px) {
    .search-section .home-search h1 > small {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .search-section .home-search h1 {
        font-size: 30px;
    }

    .search-section {
        padding: 0;
    }
}